* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0b192f;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.container {
    width: 72vw;
    margin: 0 auto 1.35vw;
}

header {
    height: 6vw;
    background-color: #162b4d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

header p {
    display: none;
}

.logo {
    font-size: 1.875vw;
    margin-left: 1.45vw;
}

header nav ul {
    width: 21vw;
    height: 6vw;
    margin-right: 4.69vw;
    font-size: 1.041vw;
    line-height: 6vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

header nav ul li {
    width: 25%;
    text-align: center;
}

header nav ul a {
    text-decoration: none;
    color: #fff;
}

header nav ul li:hover {
    height: 100%;
    background-color: #283d5f;
}

.logo span {
    color: #B71757;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section {
    width: 55vw;
    color: #fff;
}

.mainSectionContent {
    width: 53vw;
    height: 24.57vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mainSectionContent img {
    width: 26.5vw;
    height: 100%;
}

.post {
    width: 26.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.44vw 0.8vw 2.44vw 2.44vw;
}

.mainSectionContent img:hover,
.post:hover {
    filter: opacity(50%);
    cursor: pointer;
}

.mainSectionContent:nth-child(even) {
    flex-direction: row-reverse;
}

.mainSectionContent:nth-child(even)>.post {
    flex-direction: row-reverse;
    text-align: right;
    padding: 2.44vw 2.44vw 2.44vw 0.8vw;
}

#post1 {
    background: #B71757;
}

#post2 {
    background: #0D7E71;
}

#post3 {
    background: #b1660e;
}

#post4 {
    background: #d12767;
}

#post5 {
    background: #2d95bb;
    width: 100%;
}

.mainSectionContent:last-child {
    height: 12.2vw;
}

#post5 .postText {
    width: 44vw;
}

.postText {
    width: 16vw;
}

h1 {
    font-size: 2.7vw;
    margin-bottom: 1.6vw;
    font-weight: 100;
}

p {
    font-size: 0.8vw;
    opacity: 0.6;
    line-height: 1.3vw;
}

.date {
    opacity: 0.4;
}

.number {
    font-size: 2.39vw;
    margin-bottom: 1.5vw;
}

.month {
    font-size: 1.5vw;
}

.aside {
    width: 17.60vw;
}

.news {
    width: 17.60vw;
    background-color: #fff;
}

#asideArticle1 {
    height: 26.46vw;
    margin-bottom: 1.35vw;
}

#image1 {
    width: 100%;
    height: 8.23vw;
}

#asideArticle2 {
    height: 30.16vw;
}

#image2 {
    width: 100%;
    height: 11.77vw;
}

h2 {
    font-size: 1.8vw;
    font-weight: 300;
    margin: 2.19vw 2.19vw 1.5vw 2.19vw;
}

.news p {
    margin: 0 2.19vw 2.19vw 2.19vw;
}

footer {
    height: 6vw;
    padding: 1.67vw;
    background-color: #162b4d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

footer p {
    opacity: 0.3;
}

.design {
    width: 7.3vw;
}

.footerContent {
    margin-bottom: 0.4vw;
}

@media screen and (max-width: 768px) {
    .container {
        width: 97vw;
    }
    header {
        height: 24.58vw;
        flex-direction: column;
        align-items: center;
        padding: 3.45vw 0 8.47vw;
    }
    header p {
        display: block;
        font-size: 3vw;
        font-weight: 100;
    }
    .logo {
        font-size: 3.77vw;
        margin-left: 0vw;
    }
    header nav {
        display: none;
    }
    .section {
        width: 56.06vw;
    }
    .mainSectionContent {
        width: 56.06vw;
        height: 104.18vw;
        display: flex;
        flex-direction: column;
    }
    .mainSectionContent img {
        width: 56.06vw;
        height: 50%;
    }
    .post,
    .mainSectionContent:nth-child(even)>.post {
        width: 56.06vw;
        height: 50%;
        text-align: inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5.52vw;
    }
    .mainSectionContent:nth-child(even) {
        flex-direction: column;
    }
    .mainSectionContent:last-child {
        height: 52.09vw;
    }
    #post5 {
        height: 100%;
    }
    .postText,
    #post5 .postText {
        width: 100%;
    }
    h1 {
        font-size: 5.52vw;
        margin-bottom: 2.51vw;
        font-weight: 100;
    }
    p {
        font-size: 1.87vw;
        opacity: 0.6;
        line-height: 2.5vw;
    }
    .date {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .number {
        font-size: 5.32vw;
        margin-bottom: 3.24vw;
    }
    .month {
        font-size: 2.61vw;
    }
    .aside,
    .news {
        width: 39.53vw;
    }
    #asideArticle1 {
        height: 52.30vw;
        margin-bottom: 2.72vw;
    }
    #image1 {
        width: 100%;
        height: 18.41vw;
    }
    #asideArticle2 {
        height: 60.89vw;
    }
    #image2 {
        width: 100%;
        height: 26.78vw;
    }
    h2 {
        font-size: 3.1vw;
        font-weight: 300;
        margin: 4.18vw 4.18vw 2vw;
    }
    .news p {
        margin: 0 4.18vw 4.18vw;
    }
    footer {
        height: 17.99vw;
        padding: 3.77vw;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .design {
        width: 15.48vw;
    }
    .footerContent {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 480px) {
    .container {
        margin: 0 auto 3.15vw;
    }
    header {
        height: 41vw;
        padding: 5.15vw 0 11.66vw;
    }
    header p {
        font-size: 3.6vw;
    }
    .logo {
        font-size: 6.17vw;
    }
    main {
        flex-direction: column;
    }
    .section,
    .mainSectionContent .post,
    .mainSectionContent:nth-child(even)>.post,
    .mainSectionContent img,
    #post5 .postText,
    .postText {
        width: 100%;
    }
    .mainSectionContent {
        width: 100%;
        height: 179.07vw;
        display: flex;
        flex-direction: column;
    }
    .post,
    .mainSectionContent:nth-child(even)>.post {
        padding: 10vw;
    }
    .mainSectionContent:last-child {
        height: 89.54vw;
    }
    #post5 {
        height: 100%;
    }
    h1 {
        font-size: 9.40vw;
        margin-bottom: 4.29vw;
    }
    p {
        font-size: 3.5vw;
        line-height: 4vw;
    }
    .number {
        font-size: 9.43vw;
        margin-bottom: 5.49vw;
    }
    .month {
        font-size: 4.46vw;
    }
    .aside,
    .news {
        width: 100%;
    }
    #asideArticle1 {
        height: 85.93vw;
        margin-bottom: 4.29vw;
    }
    #image1 {
        height: 45.28vw;
    }
    #asideArticle2 {
        height: 105.49vw;
        margin-bottom: 4.29vw;
    }
    #image2 {
        height: 65.18vw;
    }
    h2 {
        font-size: 4.29vw;
        margin: 7.2vw 7.2vw 4.63vw;
    }
    .news p {
        margin: 0 7.2vw 7.2vw;
    }
    footer {
        height: 34.65vw;
        padding: 6.86vw;
        justify-content: flex-start;
    }
    .design {
        width: 26.41vw;
    }
}