$backgroundColor: #efefef;
$backgroundImg: '../img/header_background_v2.jpg';
$sizesBackground: 100vw;
$pageFont: normal 18px/26px "Palatino Linotype", "Book Antiqua", Palatino, serif;
$headerColor: #ff5722;
$navBorderColor: #cfd8dc;
$buttonColor: #0401ac;
$buttonTxtColor: #fffff2;
$mainColor: #757589;
$blockColor: #ffffff;
$descrColor: #d4c3bd;
$lineColor: #cfd8dc;
$mainTitleColor: #607d8b;