$backgroundColor: #ffffff;
$backgroundImg: '../img/header_background_v1.jpg';
$sizesBackground: 100vw;
$pageFont: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica,sans-serif;
$headerColor: #ececec;
$navBorderColor: #607d8b;
$buttonColor: #01acac;
$buttonTxtColor: #d6dfac;
$mainColor: #010f16;
$blockColor: #efefef;
$descrColor: #eb5203;
$lineColor: #607d8b;
$mainTitleColor: #0097a7;
