<header>
    <div>
        <a routerLink="/main">
            <img src="../../assets/img/icon.png" alt="icon">
        </a>
        <h1>{{ item.source | uppercase }}</h1>
        <a routerLink="/main">
            <img src="../../assets/img/arrow.png" alt="user">
        </a>
    </div>
</header>
<main>
    <h2>{{item.heading}}</h2>
    <img src={{item.image}} alt="img">
    <p [innerHTML]="item.content"></p>
    <p class="author">Author: {{ item.author }}</p>
    <p class="date">Date: {{ item.date | date: 'fullDate' }}</p>
</main>